* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #eee;
    color: #222;
    font-family: 'Segoe UI';
    font-size: 20px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 65vh;
    width: 65vw;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 70px 20px rgba(0,0,0,0.2);
}

#left, #right {
    width: 50%;
}

#left {
    background-image: url(../assets/m.png);
    background-position: 38% 0;
    background-size: cover;
}

#right {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right * {
    margin: 20px;
}

#right h1 {
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
    text-shadow: 0 5px 5px rgba(0,0,0,0.15);
}

#right h1::after {
    content: '.';
    font-weight: 100;
    color: hsl(15, 100, 50);
}

#right h1 span {
    font-weight: 100;
    margin: 0;
}

form { width: 70%; }
form * { display: block; margin: 40px;}

input {
    border: none;
    padding: 15px;
    width: 100%;
    transition: 0.3s ease;
}

label {
    margin-bottom: -10px !important;
}

input[placeholder] {
    border-bottom: 1px solid #111;
}

input:focus {
/*    border: none;*/
    outline: none;
/*    border-bottom: 2px solid #cc0; */
    box-shadow: 0 7px 5px -4px rgba(0,0,0,0.5);
}

input:placeholder-shown {
    font-family: 'Segoe UI';
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 100;
    opacity: 0.5;
}
#right button{
    margin-top: -30px;
}
button{
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    align-self: center;
    background: #222;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border-width: inherit;
    
}
button:hover{
    background-color: #8e44ad;
    color: aqua;
    border-width: inherit;
}
#right .forgot{
    margin-top: -30px;
    margin-left: 335px;
}
.forgot a{
    text-decoration: inherit;
    font-size: 18px;
    font-weight: 400; 
    color: deepskyblue;
}